<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SexyPrep Company Landing Page</title>
    <link
        href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/style-lis.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


</head>
<body>
    <!-- --- LOGIN/SIGN UP --- -->
    <section class="section-login">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="user">Welcome stranger!</div>
                </div>
                <div class="col-sm-4 offset-sm-5 sec">
                    <a href="#">Login</a>
                    <a href="#">Sign up</a>
                </div>
            </div>
        </div>
    </section>
    <!-- --- LOGIN/SIGN UP --- -->

    <!-- --- NAV BAR --- -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <i style="color:white;" class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="#"><img src="../static/image/logo-2.png" alt=""></a>
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">IELTS <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">TOEFL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">GMAT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">RESOURCES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">FORUM</a>
                    </li>
                    <li class="nav-item hidden-item">
                        <a class="nav-link" href="#">LOGIN</a>
                    </li>
                    <li class="nav-item hidden-item">
                        <a class="nav-link" href="#">SIGN UP</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <!-- --- NAV BAR --- -->
    <!-- --- HEADER --- -->
    <header>
        <div class="bd-example">
            <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="carousel-item-content" style="background:url('../static/image/slide-1.jpg')">
                        </div>
                        <div class="carousel-caption d-none d-md-block">                            
                            <a href="" class="btn btn-danger">IELTS SECTION</a>
                            <h5>Helping students achieve their best</h5>
                            <P>We empower students to accomplish their goals by providing an outstanding curriculum and the highest-quality instructors in the industry.</P>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- --- HEADER --- -->
    <section class="section section-intro">
        <div class="container">
            <div class="row">
                <h2>IELTS Cambridge &mdash; all tests</h2>
                <p class="long-copy">
                        From our instructors to our curriculum, we work to teach you the skills you’ll need to succeed on the test, in school, and beyond.
                </p>
            </div>
        </div>
    </section>
    <section class="section listening-test">
        <div class="container">
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="heading-1">
                        <h5 class="mb-0">
                            <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true"
                                aria-controls="collapse-1">
                                IELTS Cambridge 1
                            </a>
                        </h5>
                    </div>
                    <div id="collapse-1" class="collapse show" data-parent="#accordion" aria-labelledby="heading-1">
                        <div class="card-body">

                            <div id="accordion-1">
                                <div class="card">
                                    <div class="card-header" id="heading-1-1">
                                        <h5 class="mb-0">
                                            <a class="collapsed" role="button" data-toggle="collapse"
                                                href="#collapse-1-1" aria-expanded="false" aria-controls="collapse-1-1">
                                                Test 1
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-1-1" class="collapse" data-parent="#accordion-1"
                                        aria-labelledby="heading-1-1">
                                        <div class="card-body">
                                            <ul>
                                                <li><a href="#">Listening</a></li>
                                                <li><a href="#">Reading</a></li>
                                                <li><a href="#">Writing</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="heading-1-2">
                                        <h5 class="mb-0">
                                            <a class="collapsed" role="button" data-toggle="collapse"
                                                href="#collapse-1-2" aria-expanded="false" aria-controls="collapse-1-2">
                                                Test 2
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-1-2" class="collapse" data-parent="#accordion-1"
                                        aria-labelledby="heading-1-2">
                                        <div class="card-body">
                                            <ul>
                                                <li><a href="#">Listening</a></li>
                                                <li><a href="#">Reading</a></li>
                                                <li><a href="#">Writing</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="heading-1-3">
                                        <h5 class="mb-0">
                                            <a class="collapsed" role="button" data-toggle="collapse"
                                                href="#collapse-1-3" aria-expanded="false" aria-controls="collapse-1-3">
                                                Test 3
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-1-3" class="collapse" data-parent="#accordion-1"
                                        aria-labelledby="heading-1-3">
                                        <div class="card-body">
                                            <ul>
                                                <li><a href="#">Listening</a></li>
                                                <li><a href="#">Reading</a></li>
                                                <li><a href="#">Writing</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="heading-1-4">
                                        <h5 class="mb-0">
                                            <a class="collapsed" role="button" data-toggle="collapse"
                                                href="#collapse-1-4" aria-expanded="false" aria-controls="collapse-1-4">
                                                Test 4
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-1-4" class="collapse" data-parent="#accordion-1"
                                        aria-labelledby="heading-1-4">
                                        <div class="card-body">
                                            <ul>
                                                <li><a href="#">Listening</a></li>
                                                <li><a href="#">Reading</a></li>
                                                <li><a href="#">Writing</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="heading-2">
                        <h5 class="mb-0">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2"
                                aria-expanded="false" aria-controls="collapse-2">
                                IELTS Cambridge 2
                            </a>
                        </h5>
                    </div>
                    <div id="collapse-2" class="collapse" data-parent="#accordion" aria-labelledby="heading-2">
                        <div class="card-body">
                            Text 2
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="heading-3">
                        <h5 class="mb-0">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3"
                                aria-expanded="false" aria-controls="collapse-3">
                                IELTS Cambridge 3
                            </a>
                        </h5>
                    </div>
                    <div id="collapse-3" class="collapse" data-parent="#accordion" aria-labelledby="heading-3">
                        <div class="card-body">
                            Text 3
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>






    <!-- --- FOOTER --- -->
    <footer class="section section-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h6>About us</h6>
                    <ul>
                        <li>
                            <a href="#">Our stories</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h6>Tests</h6>
                    <ul>
                        <li>
                            <a href="#">TOEFL</a>
                        </li>
                        <li>
                            <a href="#">IELTS</a>
                        </li>
                        <li>
                            <a href="#">GMAT</a>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-3 offset-sm-3">
                    <h6>Call us</h6>
                    <ul>
                        <li>
                            <a href="#">(+84) 999-999999</a>
                        </li>

                    </ul>
                    <h6>Email us</h6>
                    <ul>
                        <li>
                            <a href="#">sexy&commat;support.edu.vn</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

    </footer>
    <!-- --- FOOTER --- -->
    <!-- --- SUB-FOOTER --- -->
    <section class="sub-footer">
        <div class="container">
            <div class="row">
                <ul>
                    <li>Terms and Conditions</li>
                    <li>Privacy Policy</li>
                    <li>Site</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- --- SUB-FOOTER --- -->
    <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>