<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/listening_test.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<style>
    
</style>
<body>
    <div class="interface">
        <div id="header">
            <div><button>USER NAME</button></div>
            <div id="clock_area">
                <div><i class="fas fa-clock"></i></div>
                <div><p id="clockdiv"></p></div>
            </div>
            <div><button>SETTING</button></div>
        </div>
        <form id="listening_form" method="POST">
        <div class="section_content" id="section1">
            <div id="test_intro">
                <div id="para_header"><h3>Section 1</h3></div>
            </div>
            <div class="test_area">
                
                <div class="answer_area">
                    <h3>Question 1-10</h3>
                    <p><i>Complete the notes below.</i></p>
                    <p><i>Write <strong>ONE WORD AND/OR A NUMBER </strong>for each answer.</i></p>
                    <audio src="/static/audio/Cam-Giac-Luc-Ay-Se-Ra-Sao-Lou-Hoang.mp3" controls></audio>
                    
                        <table>
                            <tr>
                                <th>South City Cycling Club</th>
                            </tr>
                            <tr>
                                <td>
                                    <ol><i>Example</i></ol>
                                    <ol>Name of club secretary: Jim <input class="input_table" placeholder=".....Hunter....." type="text" name="" id="" disabled></ol>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <ul><strong>Membership</strong></ul>
                                    <ul>
                                        <li>Full membership costs $260; this covers cycling and <input class="input_table" placeholder=".....1....." type="text" name="IC13_T1_L_1" id=""> all over Australia</li>
                                        <li>Recreational membership costs $108</li>
                                        <li>Cost of membership includes the club fee and <input class="input_table" placeholder=".....2....." type="text" name="IC13_T1_L_2" id=""></li>
                                        <li>The club kit is made by a company called <input class="input_table" placeholder=".....3....." type="text" name="IC13_T1_L_3" id=""></li>
                                    </ul>
                                    <ul><strong>Training rides</strong></ul>
                                    <ul>
                                        <li>Chance to improve cycling skills and fitness</li>
                                        <li>Level B: speed about <input class="input_table" placeholder=".....4....." type="text" name="IC13_T1_L_4" id=""> kph</li>
                                        <li>
                                            <dt>Weekly sessions</dt>
                                            <dd>- Tuesdays at 5:30 am, meet at the <input class="input_table" placeholder=".....5....." type="text" name="IC13_T1_L_5" id=""></dd>
                                            <dd>- Thursdays at 5:30 am, meet at the entrance to the <input class="input_table" placeholder=".....6....." type="text" name="IC13_T1_L_6" id=""></dd>
                                        </li>
                                    </ul>
                                    <ul><strong>Further information</strong></ul>
                                    <ul>
                                        <li>Rides are about an hour and a half</li>
                                        <li>Members often have <input class="input_table" placeholder=".....7....." type="text" name="IC13_T1_L_7" id=""></li>
                                        <li>There is not always a <input class="input_table" placeholder=".....8....." type="text" name="IC13_T1_L_8" id=""> with the group on these rides</li>
                                        <li>Check and print the <input class="input_table" placeholder=".....9....." type="text" name="IC13_T1_L_9" id=""> on the website beforehand</li>
                                        <li>Bikes must have <input class="input_table" placeholder=".....10....." type="text" name="IC13_T1_L_10" id=""></li>
                                    </ul>
                                </td>
                            </tr>
                        </table>

                </div>
            </div>
        </div>
        <div class="section_content" id="section2">
            <div id="test_intro">
                <div id="para_header"><h3>Section 2</h3></div>
            </div>
            <div class="test_area">
                <div class="answer_area">
                    <h3>Question 11-20</h3>
                    <p><i>Choose the correct letter, <strong>A</strong>, <strong>B </strong>or <strong>C</strong>.</i></p>
                    <audio src="/static/audio/Cam-Giac-Luc-Ay-Se-Ra-Sao-Lou-Hoang.mp3" controls></audio>
                    <form action="" method="post">
                        <h3 class="h3_section">Information on company volunteering projects</h3>
                        <button type="button" class="collapsible"><strong>11. </strong> How much time for volunteering does the company allow per employee?</button>
                        <div class="content">
                            <p><input type="radio" name="IC13_T1_L_11" value="A"><strong> A. </strong>two hours per week</p>
                            <p><input type="radio" name="IC13_T1_L_11" value="B"><strong> B. </strong>one day per month</p>
                            <p><input type="radio" name="IC13_T1_L_11" value="C"><strong> C. </strong>8 hours per year</p>
                        </div>

                        <button type="button" class="collapsible"><strong>12. </strong> In feedback almost all employees said that volunteering improved their</button>
                        <div class="content">
                            <p><input type="radio" name="IC13_T1_L_12" value="A"><strong> A. </strong>chances of promotion.</p>
                            <p><input type="radio" name="IC13_T1_L_12" value="B"><strong> B. </strong>job satisfaction.</p>
                            <p><input type="radio" name="IC13_T1_L_12" value="C"><strong> C. </strong>relationships with colleagues.</p>
                        </div>

                        <button type="button" class="collapsible"><strong>13. </strong> Last year some staff helped unemployed people with their</button>
                        <div class="content">
                            <p><input type="radio" name="IC13_T1_L_13" value="A"><strong> A. </strong>literacy skills.</p>
                            <p><input type="radio" name="IC13_T1_L_13" value="B"><strong> B. </strong>job applications.</p>
                            <p><input type="radio" name="IC13_T1_L_13" value="C"><strong> C. </strong>communication skills.</p>
                        </div>

                        <button type="button" class="collapsible"><strong>14. </strong> This year the company will start a new volunteering project with a local</button>
                        <div class="content">
                            <p><input type="radio" name="IC13_T1_L_14" value="A"><strong> A. </strong>school.</p>
                            <p><input type="radio" name="IC13_T1_L_14" value="B"><strong> B. </strong>park.</p>
                            <p><input type="radio" name="IC13_T1_L_14" value="C"><strong> C. </strong>charity.</p>
                        </div>

                        <button type="button" class="collapsible"><strong>15. </strong> Where will the Digital Inclusion Day be held</button>
                        <div class="content">
                            <p><input type="radio" name="IC13_T1_L_15" value="A"><strong> A. </strong>at the company's training facility</p>
                            <p><input type="radio" name="IC13_T1_L_15" value="B"><strong> B. </strong>at a college</p>
                            <p><input type="radio" name="IC13_T1_L_15" value="C"><strong> C. </strong>in a community centre</p>
                        </div>

                        <button type="button" class="collapsible"><strong>16. </strong> What should staff do if they want to take part in the Digital Inclusion Day?</button>
                        <div class="content">
                            <p><input type="radio" name="IC13_T1_L_16" value="A"><strong> A. </strong>fill in a form</p>
                            <p><input type="radio" name="IC13_T1_L_16" value="B"><strong> B. </strong>attend a training workshop</p>
                            <p><input type="radio" name="IC13_T1_L_16" value="C"><strong> C. </strong>get permission from their manager</p>
                        </div>

                        <h3>Questions 17 and 18</h3>
                        <p>What <b>TWO</b> things are mentioned about the participants on the last Digital Inclusion Day? </p>
                        <p>Choose <strong>TWO</strong> letters, <strong>A-E</strong>.</p>

                        <button type="button" class="collapsible">17. </button>
                        <div class="content">
                            <p><input type="radio" name="IC13_T1_L_17" value="A"><strong> A. </strong>They were all over 70.</p>
                            <p><input type="radio" name="IC13_T1_L_17" value="B"><strong> B. </strong>They never used their computer.</p>
                            <p><input type="radio" name="IC13_T1_L_17" value="C"><strong> C. </strong>Their phones were mostly old-fashioned.</p>
                            <p><input type="radio" name="IC13_T1_L_17" value="D"><strong> D. </strong>They only used their phones for making calls.</p>
                            <p><input type="radio" name="IC13_T1_L_17" value="E"><strong> E. </strong>They initially showed little interest.</p>
                        </div>

                        <button type="button" class="collapsible">18. </button>
                        <div class="content">
                            <p><input type="radio" name="IC13_T1_L_18" value="A"><strong> A. </strong>They were all over 70.</p>
                            <p><input type="radio" name="IC13_T1_L_18" value="B"><strong> B. </strong>They never used their computer.</p>
                            <p><input type="radio" name="IC13_T1_L_18" value="C"><strong> C. </strong>Their phones were mostly old-fashioned.</p>
                            <p><input type="radio" name="IC13_T1_L_18" value="D"><strong> D. </strong>They only used their phones for making calls.</p>
                            <p><input type="radio" name="IC13_T1_L_18" value="E"><strong> E. </strong>They initially showed little interest.</p>
                        </div>

                        <h3>Questions 19 and 20</h3>
                        <p>Choose <strong>TWO</strong> letters, <strong>A-E</strong>.</p>
                        <p> What TWO activities on the last Digital Inclusion Day did participants describle as useful? </p> 

                        <button type="button" class="collapsible"> 19.</button>
                        <div class="content">
                            <p><input type="radio" name="IC13_T1_L_19" value="A"><strong> A. </strong>learning to use tablets</p>
                            <p><input type="radio" name="IC13_T1_L_19" value="B"><strong> B. </strong>communicating with family</p>
                            <p><input type="radio" name="IC13_T1_L_19" value="C"><strong> C. </strong>shopping online</p>
                            <p><input type="radio" name="IC13_T1_L_19" value="D"><strong> D. </strong>playing online games</p>
                            <p><input type="radio" name="IC13_T1_L_19" value="E"><strong> E. </strong>sending emails</p>
                        </div>

                        <button type="button" class="collapsible"> 20.</button>
                        <div class="content">
                            <p><input type="radio" name="IC13_T1_L_20" value="A"><strong> A. </strong>learning to use tablets</p>
                            <p><input type="radio" name="IC13_T1_L_20" value="B"><strong> B. </strong>communicating with family</p>
                            <p><input type="radio" name="IC13_T1_L_20" value="C"><strong> C. </strong>shopping online</p>
                            <p><input type="radio" name="IC13_T1_L_20" value="D"><strong> D. </strong>playing online games</p>
                            <p><input type="radio" name="IC13_T1_L_20" value="E"><strong> E. </strong>sending emails</p>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="section_content" id="section3">
            <div id="test_intro">
                <div id="para_header"><h3>Section 3</h3></div>
            </div>
            <div class="test_area">
                <div class="answer_area">
                    <h3>Questions 21-25</h3>
                    <p><i>Choose the correct letter, <strong>A</strong>, <strong>B </strong>or <strong>C</strong>.</i></p>
                    <audio src="/static/audio/Cam-Giac-Luc-Ay-Se-Ra-Sao-Lou-Hoang.mp3" controls></audio>
                    <h3 class="h3_section">Planning a presentation on nanotechnology</h3>
                    <form action="" method="POST">
                        <button type="button" class="collapsible"><strong>21. </strong> Russ says that his difficulty in planning the presentation is due to</button>
                        <div class="content">
                            <p><input type="radio" name="IC13_T1_L_21" value="A"><strong> A. </strong>his lack of knowledge about the topic.</p>
                            <p><input type="radio" name="IC13_T1_L_21" value="B"><strong> B. </strong>his uncertainty about what he should try to achieve.</p>
                            <p><input type="radio" name="IC13_T1_L_21" value="C"><strong> C. </strong>the short time that he has for preparation.</p>
                        </div>

                        <button type="button" class="collapsible"><strong>22. </strong> Russ and his tutor agree that his approach in the presentation will be</button>
                        <div class="content">
                            <p><input type="radio" name="IC13_T1_L_22" value="A"><strong> A. </strong>to concentrate on how nanotechnology is used in one field.</p>
                            <p><input type="radio" name="IC13_T1_L_22" value="B"><strong> B. </strong>to follow the chronological development of nanotechnology.</p>
                            <p><input type="radio" name="IC13_T1_L_22" value="C"><strong> C. </strong>to show the range of applications of nanotechnology.</p>
                        </div>

                        <button type="button" class="collapsible"><strong>23. </strong> In connection with slides, the tutor advises Russ to</button>
                        <div class="content">
                            <p><input type="radio" name="IC13_T1_L_23" value="A"><strong> A. </strong>talk about things that he can find slides to illustrate.</p>
                            <p><input type="radio" name="IC13_T1_L_23" value="B"><strong> B. </strong>look for slides to illustrate the points he makes.</p>
                            <p><input type="radio" name="IC13_T1_L_23" value="C"><strong> C. </strong>consider omitting slides altogether.</p>
                        </div>

                        <button type="button" class="collapsible"><strong>24. </strong> They both agree that the best way for Russ to start his presentation is</button>
                        <div class="content">
                            <p><input type="radio" name="IC13_T1_L_24" value="A"><strong> A. </strong>to encourage the audience to talk.</p>
                            <p><input type="radio" name="IC13_T1_L_24" value="B"><strong> B. </strong>to explain what Russ intends to do.</p>
                            <p><input type="radio" name="IC13_T1_L_24" value="C"><strong> C. </strong>to provide an example.</p>
                        </div>

                        <button type="button" class="collapsible"><strong>25. </strong> What does the tutor advises Russ to do next while prepareing his presentation?</button>
                        <div class="content">
                            <p><input type="radio" name="IC13_T1_L_25" value="A"><strong> A. </strong>summarise the main point he wants to make</p>
                            <p><input type="radio" name="IC13_T1_L_25" value="B"><strong> B. </strong>read the notes he has already made</p>
                            <p><input type="radio" name="IC13_T1_L_25" value="C"><strong> C. </strong>list the topics he wants to cover</p>
                        </div>

                        <h3>Questions 26-30</h3>
                        <p><i>What comments do the speakers make about each of the following aspects of Russ's previous presentation?</i></p>
                        <p><i>choose <strong>FIVE </strong>answers from the box and write the correct letter, <strong>A-G</strong>, next to Questions 26-30.</i></p>
                        
                        <div class="a">
                            <div class="table_section3">
                                <p style="text-align:center"><strong>Comments</strong></p>
                                <p><strong>A </strong>lacked a conclusion</p>
                                <p><strong>B </strong>useful in the future</p>
                                <p><strong>C </strong>not enough</p>
                                <p><strong>D </strong>sometimes distracting</p>
                                <p><strong>E </strong>showed originality</p>
                                <p><strong>F </strong>covered a wide range</p>
                                <p><strong>G </strong>not too technical</p>
                            </div>
                        </div>
                        <h4>Aspects of Russ's previous presentation</h4>
                        <div>
                            <p><strong>26 </strong> structure <input class="input_table" placeholder="............" type="text" name="IC13_T1_L_26" id=""></p>
                            <p><strong>27 </strong> eye contact <input class="input_table" placeholder="............" type="text" name="IC13_T1_L_27" id=""></p>
                            <p><strong>28 </strong> body language <input class="input_table" placeholder="............" type="text" name="IC13_T1_L_28" id=""></p>
                            <p><strong>29 </strong> choice of words <input class="input_table" placeholder="............" type="text" name="IC13_T1_L_29" id=""></p>
                            <p><strong>30 </strong> handouts <input class="input_table" placeholder="............" type="text" name="IC13_T1_L_30" id=""></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="section_content" id="section4">
            <div id="test_intro">
                <div id="para_header"><h3>Section 4</h3></div>
            </div>
            <div class="test_area">
                <div class="answer_area">
                    <h3>Questions 31-40</h3>
                    <p><i>Complete the notes below.</i></p>
                    <p><i>Write </i><strong>ONE WORD ONLY </strong>for each answer.</p>
                    <audio src="/static/audio/Cam-Giac-Luc-Ay-Se-Ra-Sao-Lou-Hoang.mp3" controls></audio>
                    <form action="" method="POST">
                        <div class="table_section4">
                            <ul><strong>Episodic memory</strong></ul>
                            <ul>
                                <li>the ability to recall details, e.g, the time and <input class="input_table" placeholder=".....31......" type="text" name="IC13_T1_L_31" id=""> of past events</li>
                                <li>different to semantic memory - the ability to remember general information about the <input class="input_table" placeholder=".....32......" type="text" name="IC13_T1_L_32" id="">, which does not involve recalling <input class="input_table" placeholder=".....33......" type="text" name="IC13_T1_L_33" id=""> information</li>
                            </ul>
                            <ul><strong>Forming Episodic memories involves three steps:</strong></ul>
                            <ul><strong>Encoding</strong></ul>
                            <ul>
                                <li>involves receiving and processing information</li>
                                <li>the more <input class="input_table" placeholder=".....34......" type="text" name="IC13_T1_L_34" id=""> given to an event, the more successfully it can be encoded</li>
                                <li>to remember a <input class="input_table" placeholder=".....35......" type="text" name="IC13_T1_L_35" id="">, it is useful to have a strategy for encoding such information</li>
                            </ul>
                            <ul><strong>Consolidation</strong></ul>
                            <ul>
                                <li>how memories are strengthened and stored</li>
                                <li>most effective when memories can be added to a <input class="input_table" placeholder=".....36......" type="text" name="IC13_T1_L_36" id=""> of related information</li>
                                <li>the <input class="input_table" placeholder=".....37......" type="text" name="IC13_T1_L_37" id=""> of retrieval affects the strength of memories</li>
                            </ul>
                            <ul><strong>retrieval</strong></ul>
                            <ul>
                                <li>memory retrieval often depends on using a prompt, e.g, the <input class="input_table" placeholder=".....38......" type="text" name="IC13_T1_L_38" id=""> of an object near to the place where you left your car</li>
                            </ul>
                            <ul><strong>Episodic memory impairments</strong></ul>
                            <ul>
                                <li>these affect people with a wide range of medical conditions</li>
                                <li>games which stimulate the <input class="input_table" placeholder=".....39......" type="text" name="IC13_T1_L_39" id=""> have been found to help people with schizophrenia</li>
                                <li>children with autism may have difficulty forming episodic memories - possibly because their concept of the <input class="input_table" placeholder=".....40......" type="text" name="40" id=""> may be absent</li>
                                <li>memory training may help autistic children develop social skills</li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </form>
        <div id="navigate_tab">
            <div id="section_tab">
                <button class="tablink" onclick="openSection('section1', this)" id="defaultOpen">SECTION 1</button>
                <button class="tablink" onclick="openSection('section2', this)">SECTION 2</button>
                <button class="tablink" onclick="openSection('section3', this)">SECTION 3</button>
                <button class="tablink" onclick="openSection('section4', this)">SECTION 4</button>
            </div>
            <div id="end_tab">
                <button id="end_button" onclick="submitFunction()">END SECTION</button>
                <script>
                function submitFunction() {
                    if (confirm("Do you want to end the test?")) {document.getElementById('listening_form').submit() }
                }
                </script>
            </div>
        </div>
    </div>
    <script>
        //Script for passage fractions
        function openSection(SectionID,elmnt) {
            var i, section_content;
            section_content = document.getElementsByClassName("section_content");
            for (i = 0; i < section_content.length; i++) {
                section_content[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
            }
            document.getElementById(SectionID).style.display = "block";
            elmnt.style.backgroundColor = color;
        }
        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>
    <!-- Script for collapsible -->
    <script>
            var coll = document.getElementsByClassName("collapsible");
            var i;
    
            for (i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var content = this.nextElementSibling;
                    if (content.style.maxHeight){
                        content.style.maxHeight = null;
                    } else {
                        content.style.maxHeight = content.scrollHeight + "px";
                    }
                });
            }
    </script>
    <!-- Script for Coundown Timer -->
    <Script>
            // 60 minutes from now
            var time_in_minutes = 60;
            var current_time = Date.parse(new Date());
            var deadline = new Date(current_time + time_in_minutes*60*1000);
            
            function time_remaining(endtime) {
                var t = Date.parse(endtime) - Date.parse(new Date());
                var seconds = Math.floor( (t/1000) % 60 );
                var minutes = Math.floor( (t/1000/60) % 60 );
                var hours = Math.floor( (t/(1000*60*60)) % 24 );
                var days = Math.floor( t/(1000*60*60*24) );
                return {'total':t, 'days':days, 'hours':hours, 'minutes':minutes, 'seconds':seconds};
            }
            function run_clock(id,endtime) {
                var clock = document.getElementById(id);
                function update_clock() {
                    var t = time_remaining(endtime);
                    var display = t.minutes + 1
                    clock.innerHTML = 'TIME LEFT: '+ display;
                    if(t.total<=0){ clearInterval(timeinterval); }
                }
                update_clock(); // run function once at first to avoid delay
                var timeinterval = setInterval(update_clock,1000);
            }
            run_clock("clockdiv",deadline);
    </script>
</body>
</html>