<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SexyPrep Company Landing Page</title>
    <link
        href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/style-login.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


</head>

<body>
    <!-- --- LOGIN/SIGN UP --- -->
    <!-- <section class="section-login">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="user">Welcome stranger!</div>
                </div>
                <div class="col-sm-4 offset-sm-5 sec">
                    <a href="/login">Login</a>
                </div>
            </div>
        </div>
    </section> -->
    <!-- --- LOGIN/SIGN UP --- -->

    <!-- --- NAV BAR --- -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <i style="color:white;" class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="/"><img src="static/image/logo-2.png" alt=""></a>
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">IELTS <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">GMAT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">RESOURCES</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/login">LOGIN</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <!-- --- NAV BAR --- -->
    <!-- --- HEADER --- -->
    <header>
        <div class="bd-example">
            <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="carousel-item-content" style="background:url('../static/images/slide-1.jpg')">
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <a href="" class="btn btn-danger">IELTS SECTION</a>
                            <h5>Helping students achieve their best</h5>
                            <P>We empower students to accomplish their goals by providing an outstanding curriculum and
                                the highest-quality instructors in the industry.</P>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- --- HEADER --- -->
    <section class="section section-intro">
        <div class="container">
            <div class="row">
                <h2>Let's have some fun!</h2>
                <p class="long-copy">
                    Learning can and should be fun, not something you suffer through.
                </p>
            </div>
        </div>
    </section>

    <div class="section section-login-part">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card" style="height:500px;">
                        <article class="card-body">
                            <h4 class="card-title mb-4 mt-1" style="text-align:center;">Sign up</h4>
                            <form method="POST">
                                <div class="form-group">
                                    <label>Your full name</label>
                                    <input name="name" class="form-control" placeholder="Full name" type="text">
                                </div> <!-- form-group// -->
                                <div class="form-group">
                                    <label>Your email/username</label>
                                    {%if display_error == "This username has been used"%}
                                    <input name="username" class="form-control wrong"
                                        placeholder="This username has been used" type="text">
                                    {%else%}
                                    <input name="username" class="form-control" placeholder="Email or Username"
                                        type="text">
                                    {%endif%}

                                </div> <!-- form-group// -->
                                <div class="form-group">
                                    <label>Your password</label>
                                    <input name="password" class="form-control" placeholder="******" type="password">
                                </div> <!-- form-group// -->
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block btn-danger"> Create Account </button>
                                </div> <!-- form-group// -->
                            </form>
                        </article>
                    </div> <!-- card.// -->

                </div>
            </div>
        </div>
    </div>

    <!-- --- FOOTER --- -->
    <footer class="section section-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h6>About us</h6>
                    <ul>
                        <li>
                            <a href="#">Our stories</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h6>Tests</h6>
                    <ul>
                        <li>
                            <a href="#">TOEFL</a>
                        </li>
                        <li>
                            <a href="#">IELTS</a>
                        </li>
                        <li>
                            <a href="#">GMAT</a>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-3 offset-sm-3">
                    <h6>Call us</h6>
                    <ul>
                        <li>
                            <a href="#">(+84) 999-999999</a>
                        </li>

                    </ul>
                    <h6>Email us</h6>
                    <ul>
                        <li>
                            <a href="#">sexy&commat;support.edu.vn</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

    </footer>
    <!-- --- FOOTER --- -->
    <!-- --- SUB-FOOTER --- -->
    <section class="sub-footer">
        <div class="container">
            <div class="row">
                <ul>
                    <li>Terms and Conditions</li>
                    <li>Privacy Policy</li>
                    <li>Site</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- --- SUB-FOOTER --- -->
    <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>